.post-content {
	margin: 0 auto;
	max-width: 800px;
	padding: 5rem 1rem;
	.img-wrap {
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
		align-items: flex-start;
	}
}
.course-title {
	text-align: center;
}
